@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display:flex;
    flex-direction: column;
    margin:0 px;
    padding:0 px;
}

/* Formatting the font, size and color the page */
.header-text{
    font-size: 24px;
    color: #f9FAF8;
}

.main-text{
    color: #f9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text{
    font-size: 18px;
    color: #949699;
}

.secondary-text.center{
    text-align: center;
    width:200px;
    height: auto;
}

.quote-text{
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.quote-credit{
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
    text-align:right;
}

.information-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

button{
    background-color: #3882F6;
    flex-shrink: 0;
    width: 150px;
    border: solid white 1px;
    border-radius: 8px;
}

img{
    margin: 16px;
    border-radius: 25%;
}

/* Formatting the major containers */
.page-container{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.page-container.header{
    justify-content: space-between;
}

.page-container.white{
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.page-container.grey{
    background-color: #a5a6a9;
    display:flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 16px;
}

.page-container.blog{
    flex-wrap: wrap;
}

.page-container.action{
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.page-container.footer{
    justify-content: center;
}

/* Header CSS */

.header-links{
    display:flex;
    gap: 24px;
}

.blog-container{
    display:flex;
}

.blog-description{
    display:flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 500px;
    height: auto;
    gap: 8px;
}

.blog-description-header{
    font-size:48px;
    font-weight:bolder;
}

.intro-image{
    width: 35vw;;
}

/* Information CSS */

.snacks-container{
    display:flex;
    gap: 32px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.snacks-image {
    width: 150px;
    height: auto;
    transform: rotate(-90deg);
}

.action-container-outer{
    background-color:#3882F6;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 8px;
}

.action-container-inner{
    display:flex;
}