@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display:flex;
    flex-direction: column;
    margin:0 px;
}

/* Formatting the font, size and color the page */
.header-text{
    font-size: 24px;
    color: #f9FAF8;
}

.main-text{
    color: #f9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text{
    font-size: 18px;
    color: #949699;
}

.secondary-text.center{
    text-align: center;
}

.quote-text{
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.quote-credit{
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
    text-align:right;
}

.information-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

button{
    background-color: #3882F6;
    flex-shrink: 0;
    width: 150px;
}

img{
    margin: 16px;
}

/* Formatting the font, size and color the page */

/* Formatting the major containers */
.page-container{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    padding-left:100px;
    padding-right: 100px;
}

.page-container.white{
    background-color: rgb(255, 255, 255);
}

.page-container.grey{
    background-color: #a5a6a9;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 1500px;
}

/* Formatting the major containers */

/* Header CSS */

.header-links{
    display:flex;
    gap: 8px;
}

.blog-container{
    display:flex;
    width: 1500px;
    justify-content: space-between;
}

.blog-description{
    display:flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 500px;
    height: auto;
    gap: 8px;
}

.blog-description-header{
    font-size:48px;
    font-weight:bolder;
}

.intro-image{
    height:500px;
    width: 100%;
    object-fit:cover;
}

/* Header CSS */

/* Information CSS */

.snacks-container{
    display:flex;
    gap: 32px;
    justify-content: center;
}

.snacks-image {
    height: 250px;
    width: 100%;
    object-fit:contain;
    transform: rotate(-90deg);
}

/* Information CSS */

/* Quotes CSS */

.quotes-container{
    display:flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 16px;
    width: 1500px;
}


/* Footer */