@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display:flex;
    flex-direction: column;
    margin:0 px;
}

/* Formatting the font, size and color the page */
.header-text{
    font-size: 24px;
    color: #f9FAF8;
}

.main-text{
    color: #f9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text{
    font-size: 18px;
    color: #949699;
}

button{
    background-color: #3882F6;
}

.information-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

img{
    margin: 16px;
}

/* Formatting the font, size and color the page */

/* Formatting the major containers */
.center-container{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.page-sides{
    flex:1 1 auto;
    width: 100px;
}

.header{
    flex:2 1 auto;
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    background-size: cover;
    margin-bottom: 64px;
    width: 800px;
}

/* Formatting the major containers */

/* Header CSS */

.header-links{
    display:flex;
    gap: 16px;
}

.blog-description{
    display:flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}

.blog-description-header{
    font-size:48px;
    font-weight:bolder;

}

.intro-image{
    height:350px;
    width: 100%;
    object-fit:cover;
}

/* Header CSS */

.center-container.white{
    background-color: rgb(255, 255, 255);
}

.info-container,
.snacks-container{
    display:flex;
}

.snacks-image {
    height: 250px;
    width: 100%;
    object-fit:cover;
    transform: rotate(-90deg);
}
